body{
flex-direction: column;
background-image: url(./img/showcase.jpg);
background-repeat: no-repeat;
background-size: cover;

}

h1{

font-size: 6em;
font-family: 'Roboto', Verdana;
background-color: yellow;
color:blue;
text-align: center;


}
h2{
text-align: center;

}
.sidfot{
    text-align: center;
}